<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Emissão de Senhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Emitir Senha</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="danger" (click)="emitirSenha('SP')">
        Emitir Senha Prioritária (SP)
      </ion-button>
      <ion-button expand="block" color="primary" (click)="emitirSenha('SG')">
        Emitir Senha Geral (SG)
      </ion-button>
      <ion-button expand="block" color="success" (click)="emitirSenha('SE')">
        Emitir Senha para Exames (SE)
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
