<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Escolha uma opção para continuar:</p>
      
     
      <ion-select placeholder="Selecione o guichê"
      [(ngModel)]="guicheSelecionado">
        <ion-select-option value="Guichê 1">Guichê 1</ion-select-option>
        <ion-select-option value="Guichê 2">Guichê 2</ion-select-option>
        <ion-select-option value="Guichê 3">Guichê 3</ion-select-option>
      </ion-select>
      
      <ion-button expand="block" 
      (click)="chamarSenha(guicheSelecionado)"
      >Chamar senha</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
